{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update/Edit</title>
      <link rel="stylesheet" type="text/css" href="{% static '/css/edituni.css' %}" >
</head>
<body>
<center>
    <h3>Update the about field and let us know more about your University!</h3>
<form method=POST action="">
       {% csrf_token %}
        {{ form.as_p }}
       <button type= submit placeholder="UPDATE"> Update</button>
   </form>
</center>
</body>
</html>