{% load static %}
<!--This is the home page-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" >
</head>
<body>
<center>
<h1 class="heading"> Welcome to Ark Academy! </h1>
    <h4>Sign up now! </h4>
    <button><a href="accounts/signup"><h3>Sign Up</h3></a></button>
    <button><a href="accounts/signin"><h3> Sign in</h3></a></button><br><br>

</center>
</body>
</html>